In [199]:
import pandas as pd
import numpy as np
import pyodbc as podbc
from pandas import DataFrame

In [200]:
server = '**Put Server Name **'

database = 'HR_PUBLIC'

username = 'c0s041o'

password = '******'




#Connection String

conn = podbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';trusted_connection=yes;UID='+username+';PWD='+ password)

In [412]:
SQL_Query = pd.read_sql_query(
'''  select
assoc_cur.win_nbr, first_name, last_name, hire_date, birth_day, job_eff_dt,EMPLOY_STAT_CODE,assoc_cur.ASC_TYPE_CODE, PAY_TYPE_CODE, JOB_DESC, JOB_FAMILY, GRADE_LEVEL, TIME_IN_ROLE, TIME_IN_FACILITY, TIME_IN_FACILITY_ALLROLES
,assoc_cur.PAY_BAND_NBR  
 from  [US_CORE_HR].[dbo].[VW_ASSOCIATE_BASIC_CUR] assoc_cur
 where  year(job_eff_dt)='2019'  and JOB_FAMILY like 'NON-MGMT-CASHIER' 
 '''
    , conn)

In [413]:
df = pd.DataFrame(SQL_Query, columns=['win_nbr','first_name','last_name','hire_date', 'job_eff_dt','EMPLOY_STAT_CODE','JOB_FAMILY','TIME_IN_ROLE', 'TIME_IN_FACILITY', 'TIME_IN_FACILITY_ALLROLES'])

In [414]:
df.head()

,win_nbr,first_name,last_name,hire_date,job_eff_dt,EMPLOY_STAT_CODE,JOB_FAMILY,TIME_IN_ROLE,TIME_IN_FACILITY,TIME_IN_FACILITY_ALLROLES
0,100007522,GILLIAN,COOK,1980-08-21,2019-07-27,A,NON-MGMT-CASHIER,13.99,13.99,28.66
1,100012195,KIM,ROSENBURGH,1982-02-02,2019-07-13,A,NON-MGMT-CASHIER,1.10,1.10,8.59
2,100013459,MAXINE,BROMELL,1982-06-21,2019-10-05,A,NON-MGMT-CASHIER,0.87,0.87,17.17
3,100015246,PAMELA,MOORE,1982-11-02,2019-01-05,A,NON-MGMT-CASHIER,1.61,1.61,28.66
4,100016945,CAROL,JOHNSON,1983-04-12,2019-10-05,A,NON-MGMT-CASHIER,0.87,0.87,28.66

In [415]:
def f(row):
    if row>=0 and row<=1:
        t4='0-1'
    elif row>1 and row<=2:
        t4='1-2'
    elif row>2 and row<=3:
        t4='1-1.5'
    elif row>3 and row<=4:
        t4='3-4'
    elif row>4 and row<=5:
        t4='4-5'
    elif row>5 and row<=6:
        t4='5-6'
    else:
        t4=0
    return t4

In [349]:
def f(row):
    if row>=0 and row<=0.5:
        t4='0-0.5'
    elif row>0.5 and row<=1:
        t4='0.5-1'
    elif row>1 and row<=1.5:
        t4='1-1.5'
    elif row>1.5 and row<=2:
        t4='1.5-2'
    elif row>2 and row<=2.5:
        t4='2-2.5'
    elif row>2.5 and row<=3:
        t4='2.5-3'
    elif row>3 and row<=3.5:
        t4='3-3.5'
    elif row>3.5 and row<=4:
        t4='3.5-4'
    elif row>4.5 and row<=5:
        t4='4.5-5'
    elif row>5 and row<=5.5:
        t4='5-5.5'
    elif row>5.5 and row<=6:
        t4='5.5-6'
    elif row>6 and row<=6.5:
        t4='6-6.5'
    elif row>6.5 and row<=7:
        t4='6.5-7'
    elif row>7 and row<=7.5:
        t4='7-7.5'
    elif row>7.5 and row<=8:
        t4='7.5-8'
    else:
        t4='0'
    return t4

In [416]:
df['Time_Role_Bucket'] = df['TIME_IN_ROLE'].apply(lambda x: f(x))

In [417]:
df.head()

,win_nbr,first_name,last_name,hire_date,job_eff_dt,EMPLOY_STAT_CODE,JOB_FAMILY,TIME_IN_ROLE,TIME_IN_FACILITY,TIME_IN_FACILITY_ALLROLES,Time_Role_Bucket
0,100007522,GILLIAN,COOK,1980-08-21,2019-07-27,A,NON-MGMT-CASHIER,13.99,13.99,28.66,0
1,100012195,KIM,ROSENBURGH,1982-02-02,2019-07-13,A,NON-MGMT-CASHIER,1.10,1.10,8.59,1-2
2,100013459,MAXINE,BROMELL,1982-06-21,2019-10-05,A,NON-MGMT-CASHIER,0.87,0.87,17.17,0-1
3,100015246,PAMELA,MOORE,1982-11-02,2019-01-05,A,NON-MGMT-CASHIER,1.61,1.61,28.66,1-2
4,100016945,CAROL,JOHNSON,1983-04-12,2019-10-05,A,NON-MGMT-CASHIER,0.87,0.87,28.66,0-1

In [418]:
Total=dict(df['Time_Role_Bucket'].value_counts())
print(dict(Total))

{'0-1': 19702, '1-2': 18903, '1-1.5': 2185, 0: 1950, '3-4': 1097, '4-5': 717, '5-6': 459}

In [419]:
df2=df[df['EMPLOY_STAT_CODE']=='T']

In [420]:
df2

,win_nbr,first_name,last_name,hire_date,job_eff_dt,EMPLOY_STAT_CODE,JOB_FAMILY,TIME_IN_ROLE,TIME_IN_FACILITY,TIME_IN_FACILITY_ALLROLES,Time_Role_Bucket
21467,100185113,MICHELLE,MURRAY,2019-10-07,2019-10-07,T,NON-MGMT-CASHIER,0.85,0.85,0.85,0-1
21477,100465002,BILLIE,MOODY,2019-04-10,2019-04-10,T,NON-MGMT-CASHIER,1.34,1.34,1.34,1-2
21478,100499334,JENNIFER,VICK,2019-03-28,2019-03-28,T,NON-MGMT-CASHIER,1.36,1.36,1.36,1-2
21479,100562635,CARA,FOSTER,2019-02-05,2019-02-05,T,NON-MGMT-CASHIER,1.52,1.52,1.52,1-2
21480,100565310,CYNTHIA,KIMMONS,2019-06-25,2019-06-25,T,NON-MGMT-CASHIER,1.14,1.14,1.14,1-2
21489,100710465,GLENDA,BROWN,2019-12-16,2019-12-16,T,NON-MGMT-CASHIER,0.63,0.63,0.63,0-1
21492,100746273,MARIA,ROSATTO,2019-05-15,2019-05-15,T,NON-MGMT-CASHIER,1.25,1.25,1.25,1-2
21495,100776556,SUSAN,SCHULTE,2017-12-08,2019-03-30,T,NON-MGMT-CASHIER,2.66,2.66,2.66,1-1.5
21502,100850801,PATRICIA,WURTH,1992-03-31,2019-10-05,T,NON-MGMT-CASHIER,24.88,24.88,28.08,0
21505,100886273,GRETCHEN,MURROW,2019-05-28,2019-05-28,T,NON-MGMT-CASHIER,1.20,1.20,1.20,1-2
21507,100023221,CYNTHIA,REINA,2019-10-19,2019-10-19,T,NON-MGMT-CASHIER,0.80,0.80,0.80,0-1
21527,101324735,DORIS,LAWSON,2019-05-11,2019-05-11,T,NON-MGMT-CASHIER,1.24,1.24,1.24,1-2
21530,100167937,TINA,OTINGER,2017-12-20,2019-07-06,T,NON-MGMT-CASHIER,1.07,1.07,1.19,1-2
21532,101396821,APRIL,RHODES,2019-10-03,2019-10-03,T,NON-MGMT-CASHIER,0.86,0.86,0.86,0-1
21536,101423601,MARIA,LERMA,1994-03-28,2019-07-13,T,NON-MGMT-CASHIER,14.52,14.52,26.36,0
21537,101445591,MELINDA,LAFROMBOISE,2019-03-27,2019-10-26,T,NON-MGMT-CASHIER,0.79,0.79,0.79,0-1
21544,101658631,TIESHA,MCNEAL,2019-12-12,2019-12-12,T,NON-MGMT-CASHIER,0.64,0.64,0.64,0-1
21568,101895816,ALLAN,HOLMGREN,2019-06-04,2019-08-31,T,NON-MGMT-CASHIER,1.20,1.20,1.20,1-2
21591,102376283,DENISE,MOBLEY,2019-05-14,2019-05-14,T,NON-MGMT-CASHIER,1.25,1.25,1.25,1-2
21592,102379447,LEEANN,WETMORE,2019-05-23,2019-05-23,T,NON-MGMT-CASHIER,1.21,1.21,1.21,1-2
21612,102587893,BETTYE,FRANCIS,2019-03-09,2019-03-09,T,NON-MGMT-CASHIER,1.43,1.43,1.43,1-2
21613,102650209,LAVONYA,TYSON,2019-09-09,2019-09-09,T,NON-MGMT-CASHIER,0.93,0.93,0.93,0-1
21624,102818475,ANGELA,RAPLEY,2019-10-09,2019-10-09,T,NON-MGMT-CASHIER,0.85,0.85,0.85,0-1
21626,102838120,SHANELL,JOHNSON,2019-10-07,2019-10-07,T,NON-MGMT-CASHIER,0.82,0.82,0.82,0-1
21636,102981598,WANDA,DAVIS,2019-03-15,2019-04-20,T,NON-MGMT-CASHIER,1.42,1.42,1.42,1-2
21639,103025021,JENNIFER,WOOD,2018-08-24,2019-05-11,T,NON-MGMT-CASHIER,1.95,1.95,1.95,1-2
21643,103066044,MIRANDA,WILLIAMS,2017-07-11,2019-10-26,T,NON-MGMT-CASHIER,0.79,0.79,3.09,0-1
21645,103087917,JANET,LAMMERS,2012-06-26,2019-06-29,T,NON-MGMT-CASHIER,8.13,8.13,8.13,0
21654,102417203,DIANE,ROARK,1996-08-12,2019-02-16,T,NON-MGMT-CASHIER,8.41,8.41,20.08,0
21656,103230070,MARYELLEN,MUNSEY,2019-11-12,2019-11-12,T,NON-MGMT-CASHIER,0.76,0.75,0.75,0-1
...,...,...,...,...,...,...,...,...,...,...,...
44554,226159631,MAKAYLA,BEGAY,2019-12-19,2019-12-19,T,NON-MGMT-CASHIER,0.65,0.65,0.65,0-1
44565,226159970,MACKAYLA,JOHNSON,2019-12-20,2019-12-20,T,NON-MGMT-CASHIER,0.62,0.62,0.62,0-1
44579,226160376,SERENA,GANDARILLA,2019-12-11,2019-12-11,T,NON-MGMT-CASHIER,0.67,0.66,0.66,0-1
44594,226162124,CASSANDRA,CHRISTISON,2019-12-14,2019-12-14,T,NON-MGMT-CASHIER,0.67,0.67,0.67,0-1
44602,226161946,ANDRE,SMITH,2019-12-18,2019-12-18,T,NON-MGMT-CASHIER,0.62,0.62,0.62,0-1
44605,226162615,NANA YAW,BOATENG,2019-12-18,2019-12-18,T,NON-MGMT-CASHIER,0.64,0.64,0.64,0-1
44617,226162438,SHERCRESHIA,CANNON,2019-12-20,2019-12-20,T,NON-MGMT-CASHIER,0.65,0.65,0.65,0-1
44637,226163336,BHUMIKA,GURUNG,2019-12-22,2019-12-22,T,NON-MGMT-CASHIER,0.63,0.63,0.63,0-1
44643,226166067,MYRA,GONZALEZ,2019-12-20,2019-12-20,T,NON-MGMT-CASHIER,0.63,0.62,0.62,0-1
44673,226166367,PAUL,PIRES,2019-12-18,2019-12-18,T,NON-MGMT-CASHIER,0.63,0.63,0.63,0-1
44688,226169885,MADISON,RYZA,2019-12-31,2019-12-31,T,NON-MGMT-CASHIER,0.60,0.60,0.60,0-1
44695,226170200,ERICK,CASTRO,2019-12-27,2019-12-27,T,NON-MGMT-CASHIER,0.60,0.60,0.60,0-1
44723,226172696,AZHALEIA,REYES,2019-12-21,2019-12-21,T,NON-MGMT-CASHIER,0.63,0.63,0.63,0-1
44744,226172046,GWENDOLYN,AUE,2019-12-16,2019-12-16,T,NON-MGMT-CASHIER,0.64,0.63,0.63,0-1
44755,226173922,ABIGAIL,GLENN,2019-12-18,2019-12-18,T,NON-MGMT-CASHIER,0.64,0.64,0.64,0-1
44768,226173164,JORDYN,SMITH,2019-12-21,2019-12-21,T,NON-MGMT-CASHIER,0.64,0.63,0.63,0-1
44770,226172958,LINDA,MCCURLEY,2019-12-22,2019-12-22,T,NON-MGMT-CASHIER,0.63,0.62,0.62,0-1
44789,226174255,DONIELLE,SMYTHE,2019-12-27,2019-12-27,T,NON-MGMT-CASHIER,0.62,0.62,0.62,0-1
44791,226174385,ESSENCE,GREENE,2019-12-21,2019-12-21,T,NON-MGMT-CASHIER,0.65,0.64,0.64,0-1
44803,226177136,ROMAN,RAMIREZ,2019-12-21,2019-12-21,T,NON-MGMT-CASHIER,0.65,0.65,0.65,0-1
44808,226176248,WENDY,CAJINA,2019-12-30,2019-12-30,T,NON-MGMT-CASHIER,0.61,0.60,0.60,0-1
44816,226176603,EVELYN,ACOSTA ALCALA,2019-12-21,2019-12-21,T,NON-MGMT-CASHIER,0.64,0.64,0.64,0-1
44833,226180052,ZACHARY,BOURGEOIS,2019-12-20,2019-12-20,T,NON-MGMT-CASHIER,0.63,0.63,0.63,0-1
44838,226177368,LARON,MATTHEWS,2019-12-23,2019-12-23,T,NON-MGMT-CASHIER,0.64,0.64,0.64,0-1
44846,226179187,EMILY,SELLERS,2019-12-30,2019-12-30,T,NON-MGMT-CASHIER,0.62,0.62,0.62,0-1
44851,226179339,LYNNAZIA,DAVIS,2019-12-20,2019-12-20,T,NON-MGMT-CASHIER,0.63,0.63,0.63,0-1
44864,226182419,TAYLOR,CURRAN,2019-12-30,2019-12-30,T,NON-MGMT-CASHIER,0.62,0.62,0.62,0-1
44905,226182986,JUAN,CALERO,2019-12-28,2019-12-28,T,NON-MGMT-CASHIER,0.61,0.60,0.60,0-1
44962,226187063,DUANE,GHOLAR,2019-12-28,2019-12-28,T,NON-MGMT-CASHIER,0.60,0.59,0.59,0-1
44972,226188302,SANMEET,KAUR,2019-12-28,2019-12-28,T,NON-MGMT-CASHIER,0.60,0.60,0.60,0-1

In [421]:
Terminated=dict(df2['Time_Role_Bucket'].value_counts())
print(dict(Terminated))

{'0-1': 1021, '1-2': 947, '1-1.5': 49, '3-4': 23, 0: 14, '4-5': 9, '5-6': 5}

In [422]:
list_2019={}
#print(len(Total.items()))
sharedKeys = set(Total.keys()).intersection(Terminated.keys())
for key in sharedKeys:
    #print('Key: {}, Total: {}, Terminated: {}, Probability: {}'.format(key, Total[key], Terminated[key],Terminated[key]/Total[key]))
    list_2019.update({key:(Terminated[key]/Total[key])})

print(dict(list_2019))

{0: 0.0071794871794871795, '3-4': 0.020966271649954422, '1-1.5': 0.022425629290617848, '5-6': 0.010893246187363835, '4-5': 0.012552301255230125, '0-1': 0.05182215003552939, '1-2': 0.05009786806327038}

In [411]:
list_2018={}
#print(len(Total.items()))
sharedKeys = set(Total.keys()).intersection(Terminated.keys())
for key in sharedKeys:
    #print('Key: {}, Total: {}, Terminated: {}, Probability: {}'.format(key, Total[key], Terminated[key],Terminated[key]/Total[key]))
    list_2018.update({key:(Terminated[key]/Total[key])})

print(dict(list_2018))

{0: 0.011335633316904879, '3-4': 0.026733500417710943, '1-1.5': 0.05389023583865991, '5-6': 0.018633540372670808, '4-5': 0.01282051282051282, '0-1': 0.15384615384615385, '1-2': 0.05215035557060616}

In [400]:
list_2017={}
#print(len(Total.items()))
sharedKeys = set(Total.keys()).intersection(Terminated.keys())
for key in sharedKeys:
    #print('Key: {}, Total: {}, Terminated: {}, Probability: {}'.format(key, Total[key], Terminated[key],Terminated[key]/Total[key]))
    list_2017.update({key:(Terminated[key]/Total[key])})

print(dict(list_2017))

{0: 0.01112565445026178, '3-4': 0.04326473339569691, '1-1.5': 0.04436290860573716, '5-6': 0.012853470437017995, '4-5': 0.02040816326530612, '0-1': 0.125}

In [389]:
list_2016={}
#print(len(Total.items()))
sharedKeys = set(Total.keys()).intersection(Terminated.keys())
for key in sharedKeys:
    #print('Key: {}, Total: {}, Terminated: {}, Probability: {}'.format(key, Total[key], Terminated[key],Terminated[key]/Total[key]))
    list_2016.update({key:(Terminated[key]/Total[key])})

print(dict(list_2016))

{0: 0.010451045104510451, '5-6': 0.01312910284463895, '3-4': 0.036889332003988036, '4-5': 0.03237951807228916}

In [378]:
list_2015={}
#print(len(Total.items()))
sharedKeys = set(Total.keys()).intersection(Terminated.keys())
for key in sharedKeys:
    #print('Key: {}, Total: {}, Terminated: {}, Probability: {}'.format(key, Total[key], Terminated[key],Terminated[key]/Total[key]))
    list_2015.update({key:(Terminated[key]/Total[key])})

print(dict(list_2015))

{0: 0.009419152276295133, '5-6': 0.019135802469135803, '4-5': 0.024429967426710098, '1-2': 1.0}

In [367]:
list_2014={}
#print(len(Total.items()))
sharedKeys = set(Total.keys()).intersection(Terminated.keys())
for key in sharedKeys:
    #print('Key: {}, Total: {}, Terminated: {}, Probability: {}'.format(key, Total[key], Terminated[key],Terminated[key]/Total[key]))
    list_2014.update({key:(Terminated[key]/Total[key])})

print(dict(list_2014))

{0: 0.021209740769835034, '5-6': 0.024390243902439025}